
.cart-page {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
}

.cart-page h1 {
    text-align: center;
    margin-bottom: 30px;
}

.empty-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 200px;
}

.cart-page h2 {
      font-size: 40px;
      margin-bottom: 20px;
}

.shopping-btn{
  padding: 10px;
    background-color: rgb(14, 12, 14);
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-weight: 400;
    border: none;
    margin-left: 10px;
    
}
.shopping-btn:hover{
    background-color: white;
    color: black;
    box-shadow: 0px 4px 10px purple;
}

.cart-products {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-card {
    display: flex;
    gap: 25px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ebe3e3;
}

.cart-card img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.cart-details {
    flex: 1;
}

.cart-details h3 {
    margin-bottom: 10px;
}

.cart-details p {
    margin: 8px 0;
}

.quantity {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 15px 0;
}

.quantity button {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: black;
    color: white;
}

.remove-btn{
     padding: 10px;
    background-color: rgb(14, 12, 14);
    border-radius: 10px;
    color: white;
    font-size: 13px;
    font-weight: 400;
    border: none;
    margin-left: 10px;
}
.remove-btn:hover{
    color: black;
    background-color: white;
    transition: 0.3sec ease;
}

.quantity span {
    font-size: 18px;
    font-weight: 600;
}

.cart-details > button {
    padding: 8px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.mainn-class{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.cart-total {
    text-align: center;
    margin-top: 25px;
    padding: 20px;
    border-top: 1px solid #ddd;
}


.checkout-btn{
    padding: 10px;
    background-color: rgb(14, 12, 14);
    border-radius: 10px;
    color: white;
    font-size: 13px;
    font-weight: 400;
    border: none;
    margin-left: 10px;
}
.checkout-btn:hover{
    color: black;
    background-color: white;
    box-shadow: 0 4px 10px purple;
}
.checkout-btn:focus{
    outline: none;
}