* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-contactt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: rgb(233, 204, 233);
    font-family: 'Times New Roman', Times, serif;
}

.contact {
    margin: 20px 0;
}

.contact form {
    width: 350px;
    padding: 25px;
    background: white;
    border: 1px solid #e7c9e9;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 10px rgb(52, 51, 51);
    border-radius: 10px;
}

.contact h2 {
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.form-group1 {
    width: 250px;
    margin-bottom: 20px;
}

.form-group1 label {
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
}

.form-group1 input,
.form-group1 textarea {
    width: 100%;
    padding: 8px;
    font-size: 15px;
    font-weight: 300;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group1 textarea {
    height: 80px;
    resize: none;
}

.form-group1 input:focus,
.form-group1 textarea:focus {
    border: 2px solid grey;
    box-shadow: 0 4px 13px rgb(121, 99, 107);
    outline: none;
}

.contact form .input-error {
    border: 1px solid red;
}

.error {
    color: red;
    font-size: 13px;
    margin-top: 5px;
}

.contact-btn {
    width: 120px;
    padding: 8px;
    font-size: 17px;
    font-weight: 300;
    margin-top: 10px;
    color: beige;
    border: none;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
}

.contact-btn:hover {
    background-color: rgb(87, 87, 125);
}